<main>
  <div class="row">
    <!-- chart stuf -->
     <div class="card-panel col m3 l2 hide-on-small-only"></div>
      <div class="card col s11 m12 l9 grey lighten-5">
        <div class="card-content white black-text">
        <span class="card-title black-text">Historical Chart</span>

        <input type="text" class="validate" placeholder="Enter a Ticker Symbol" ng-model="ctrl.historical">
        <button class="btn btn-inverse btn-lg btn-login" ng-click="ctrl.getHistorical()"><i class="fa fa-search"></i>Search</button>

          <nvd3 options="ctrl.options" data="ctrl.data"></nvd3>
        </div>
      </div>
      <!-- chart stuf -->
  </div>
<div class="row">


      <div class="col s12 m12 l6">
       <ul class="collection with-header z-depth-2">

<!--        <li class="collection-item"><h5>Search for Twitter Sentiment Anaysis</h5></li>

 -->    <li class="collection-header">
        <span class="center black-text ">Get Sentiment Analysis for recent tweets about anything on Twitter</span>
        <br> <div ng-include="'app/dashboard/partials/twitsearch.html'"></div></li>
        <li class="collection-item"><div>Sentiment Analysis Score<a class="secondary-content black-text">{{ctrl.twitAnalysis.score}}</a></div></li>
        <li class="collection-item"><div>Comparative Analysis Score<a class="secondary-content black-text">{{ctrl.twitAnalysis.comparative}}</a></div></li>
        <li id="wrap" class="collection-item avatar"><div><p>Top Positive Words:</p><br>{{ctrl.twitAnalysis.positive.toString()}}</div></li>
        <li id="wrap" class="collection-item avatar"><div><p>Top Negative Words:</p><br>{{ctrl.twitAnalysis.negative.toString()}}</div></li>
      </ul>
      </div>






<div class="col s12 m12 l6">
      <ul class="collection with-header z-depth-2">
          <li class="collection-header">
              <form class="" ng-submit="ctrl.yahooSearch(form)">

            <div class="input-field">
              <input type="text" class="validate" placeholder="Ticker Symbol Search" ng-model="ctrl.stockInput">

             <button class="btn btn-inverse btn-lg btn-login" type="submit"><i class="fa fa-search"></i>
            Search
            </button>
        </div>
      </form>
          </li>
          <li class="collection-item"><div><h5>Name <a class="secondary-content">{{ctrl.yahooResults.name}}</h5></a></div></li>
          <li class="collection-item"><div>PE Ratio<a class="secondary-content">{{ctrl.yahooResults.peRatio}}</a></div></li>
          <li class="collection-item"><div>Dividend Yield <a class="secondary-content">{{ctrl.yahooResults.dividendYield}}</a></div> </li>
          <li class="collection-item"><div>Price <a class="secondary-content">{{ctrl.yahooResults.lastTradePriceOnly | currency}}</a></div></li>
          <li class="collection-item"><div>Change <a class="secondary-content">{{ctrl.yahooResults.change}}</a></div></li>
          <li class="collection-item"><div>changeFrom200DayMovingAverage <a class="secondary-content">{{ctrl.yahooResults.changeFrom200DayMovingAverage}}</a> </div></li>
          <li class="collection-item"><div>changeAndPercentChange <a class="secondary-content">{{ctrl.yahooResults.changeAndPercentChange | currency}}</a></div></li>
          <li class="collection-item"><div>Days Range <a class="secondary-content">{{ctrl.yahooResults.daysRange}}</a></div></li>
          <li class="collection-item"><div>Open <a class="secondary-content">{{ctrl.yahooResults.open}} </a></div></li>
          <li class="collection-item"><div>Volume <a class="secondary-content">{{ctrl.yahooResults.volume}}</a></div></li>
          <li class="collection-item"><div>Change: <a class="secondary-content">{{ctrl.yahooResults.change}}</a></div></li>
          <li class="collection-item"><div>marketCapitalization <a class="secondary-content">{{ctrl.yahooResults.marketCapitalization}}</a></div> </li>
          <li class="collection-item"><div>epsEstimateCurrentYear <a class="secondary-content">{{ctrl.yahooResults.epsEstimateCurrentYear}}</a></div></li>
          <li class="collection-item"><div>epsEstimateNextQuarter <a class="secondary-content">{{ctrl.yahooResults.epsEstimateNextQuarter}}</a></div></li>
      </ul>
    </div>
</div> <!-- row -->


</main>
