body {
  color: #004d40;
  font-family: raleway;
}
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.side-nav {
    a {
        color: #004d40;
        font-size: 20px;
    }
    top: 68px;
    left: 100px;
}
nav {
    ul a {
    color: #004d40;
    font-size: 25px;
    }
    font-size: 20px;
    color: #004d40;
}
.topNav {
    position: fixed;
}

.navIcon {
    width: 50px;
    padding: 5px;
}
.stocksNav {
  position: fixed;
  width: 133px;
  left: 100px;
  top: 63px;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: rgba(1, 1, 1, .5);
  border: 4px solid #546e7a;
  z-index: 50;
  padding-left: 10px;
}
.stocksNavHidden {
  position: fixed;
  width: 133px;
  left: -200px;
  top: 68px;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 0;
}
.stats {
    height: 3vw;
    border-top: 4px solid #ff3d00;
    border-bottom: 4px solid #ff3d00;
    width: calc(100% - 233px);
    float: right;
}
stats.ng-binding {
    padding-right: 30px;
}
.statsEmpty {
    height: 3vw;
    border-top: 4px solid #ff3d00;
    border-bottom: 4px solid #ff3d00;
    width: calc(100% - 100px);
    float: right;
}
.graphics {
    height: 20vw;
    width: 100%;
}
h1 {
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    font-weight: 700;
    font-size: 7.375rem;
    line-height: .9;
    border-left: 4px solid #ff3d00;
    padding: 15px;
}
h2 {
    float: left;
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    border: 4px solid #ff3d00;
    padding: 20px;
}


.top {
    height: 4vw;
}
.parallax-container {
    height: 500px;
}
.textLeft {
    padding: 20px;
}
.myStocks {
    border: 4px solid #546e7a;
    border-left: 4px solid #ff3d00;
}
header, main, footer {
    padding-left: 100px;
  }


  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
  div.stocksNav.col.s1 a.ng-binding {
    color: #1de9b6;
    font-weight: medium;
    font-size: 20px;
  }
 div.stocksNav.col.s1 a.ng-binding:hover {
    color: white;
  }


  h1.totalValueNumber.ng-binding {
    border-left: white;
  }
  .totalValueText {
    font-size: 35px;
  }
  .stockValue {
    top: 450px;
  }
  #stockLeft {
    float: right;
  }

  nav ul a {
    font-size: 15px;
  }
  .navbar-brand {
    position: fixed;
    border-bottom: 4px solid #546e7a;
    width: 200px;
    font-size: 22px;
  }
  #side-nav-main {
    width: 100px;
    z-index: 1000;
  }
#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0.0);
}
.menu-show-setup, .menu-hide-setup {
  transition:all 0.5s ease-out;
  overflow:hidden
}

.menu-show-setup {
  max-height:0;
}
.menu-show-setup.menu-show-start {
  max-height:200px;
}

.menu-hide-setup {
  max-height:300px;
}
.menu-hide-setup.menu-hide-start {
  max-height:0;
}

.gridRow {
    border: 2px solid blue;
    padding: 0px;
    margin: 0px;
}
.gridColOne {
    margin: 10px 40px 10px 40px;
    border: 1px solid white;
    height: 131px;
    width: 260px;
    background-color: #ff3d00;
    color: white;
}
.gridColOne:hover {
    margin: 10px 40px 10px 40px;
    border: 1px solid white;
    height: 131px;
    width: 260px;
    background-color: white;
    color: #ff3d00;
}

#financeGraph {
    margin: 10px 40px 10px 40px;
    border: 3px solid rgba(84,110,122, 1);
    height: 400px;
    width: 600px;
    color: rgba(84,110,122, .5);
}
#financeGraph:hover {
    margin: 10px 40px 10px 40px;
    border: 1px solid white;
    height: 400px;
    width: 600px;
    color: white;
    background-color: rgba(84,110,122, 1);
}
#financeGraph:click {
    margin: 10px 40px 10px 40px;
    border: 3px solid rgba(84,110,122, .5);
    height: 400px;
    width: 600px;
    color: white;
}
#sentimentData {
    margin: 10px 40px 10px 40px;
    border: 1px solid white;
    height: 300px;
    width: 400px;
}
.graph-header {
    height: 15%;
    color: #f3f3f3;
}
.graph-body {
    height: 85%;
    border-color: 1px solid white;
}
h5.ng-binding {
    padding: 15px 10px 35px 40px;
}
#portValue {
    padding-top: 25px;
    float: right;
}
p.ng-binding {
    padding: 15px 10px 35px 40px;
}
.company {
    height: 300px;
    background-color: rgba(0,150,136, .3);
    margin: 0px;
    border: 2px solid white;
    color: red;
    font-size: 20px;
}
.company:hover {
    background-color: rgba(0,150,136, .7);
    color: white;
}
div.company {
    border-bottom: 0px;
}
.companies {
    border: 0px;
}
#line {
    height: 300px;
    width: 500px;
}
div.chart-container {
    height: 300px;
    width: 500px;
    padding-right: 150px;
}
canvas#line {
    right: 150px;
    z-index:10,000;
}
.gridColShow {
    margin: 10px 40px 10px 40px;
    border: 1px solid white;
    height: 131px;
    width: 260px;
    background-color: white;
    color: #ff3d00;
}
.gridColShow:hover {
    margin: 10px 40px 10px 40px;
    border: 1px solid white;
    height: 131px;
    width: 260px;
    background-color: #ff3d00;
    color: white;
}
