body {
  color: #004d40;
}
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.side-nav {
    a {
        color: #004d40;
        font-size: 20px;
    }
    top: 68px;
}
nav {
    ul a {
    color: #004d40;
    font-size: 25px;
    }
    font-size: 20px;
    color: #004d40;
}
.topBand {
    position: fixed;
}
.navbar-brand {
    position: fixed;
    border-bottom: 4px solid #546e7a;
}
h1 {
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    font-weight: 700;
    font-size: 7.375rem;
    line-height: .9;
    border-left: 4px solid #ff3d00;
    padding: 15px;
}
h2 {
    float: left;
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    border: 4px solid #ff3d00;
    padding: 20px;
}
h3 {
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    font-weight: 500;
    font-size: 4.375rem;
    line-height: .9;
    border-right: 4px solid #ff3d00;
    padding: 15px;
}
h6 {
    float: right;
}
.top {
    height: 4vw;
}
.parallax-container {
    height: 500px;
}
.textLeft {
    padding: 20px;
}
.myStocks {
    border: 4px solid #546e7a;
    border-left: 4px solid #ff3d00;
}
body {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    text.symbol {
        fill: #BBBBBB;
    }

    path {
        fill: none;
        stroke-width: 1;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    .close.annotation.up path {
        fill: #00AA00;
    }

    path.volume {
        fill: #DDDDDD;
    }

    .indicator-plot path.line {
        fill: none;
        stroke-width: 1;
    }

    .ma-0 path.line {
        stroke: #1f77b4;
    }

    .ma-1 path.line {
        stroke: #aec7e8;
    }

    .ma-2 path.line {
        stroke: #ff7f0e;
    }

    button {
        position: absolute;
        right: 110px;
        top: 25px;
    }

    path.macd {
        stroke: #0000AA;
    }

    path.signal {
        stroke: #FF9999;
    }

    path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 0;
        stroke-opacity: 0.5;
    }

    path.difference {
        fill: #BBBBBB;
        opacity: 0.5;
    }

    path.rsi {
        stroke: #000000;
    }

    path.overbought, path.oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    path.middle, path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 5, 5;
    }

    .analysis path, .analysis circle {
        stroke: blue;
        stroke-width: 0.8;
    }

    .trendline circle {
        stroke-width: 0;
        display: none;
    }

    .mouseover .trendline path {
        stroke-width: 1.2;
    }

    .mouseover .trendline circle {
        stroke-width: 1;
        display: inline;
    }

    .dragging .trendline path, .dragging .trendline circle {
        stroke: darkblue;
    }

    .interaction path, .interaction circle {
        pointer-events: all;
    }

    .interaction .body {
        cursor: move;
    }

    .trendlines .interaction .start, .trendlines .interaction .end {
        cursor: nwse-resize;
    }

    .supstance path {
        stroke-dasharray: 2, 2;
    }

    .supstances .interaction path {
        pointer-events: all;
        cursor: ns-resize;
    }

    .mouseover .supstance path {
        stroke-width: 1.5;
    }

    .dragging .supstance path {
        stroke: darkblue;
    }

    .crosshair {
        cursor: crosshair;
    }

    .crosshair path.wire {
        stroke: #DDDDDD;
        stroke-dasharray: 1, 1;
    }

    .crosshair .axisannotation path {
        fill: #DDDDDD;
    }








