body {
  color: #004d40;
}
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.side-nav {
    a {
        color: #004d40;
        font-size: 20px;
    }
    top: 68px;
}
nav {
    ul a {
    color: #004d40;
    font-size: 25px;
    }
    font-size: 20px;
    color: #004d40;
}
.topNav {
    position: fixed;
}
.navbar-brand {
    position: fixed;
    border-bottom: 4px solid #546e7a;
    width: 200px;
}
.navIcon {
    width: 50px;
    padding: 5px;

}
.stocksNav {
  position: fixed;
  width: 133px;
  left: 100px;
  top: 63px;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: white;
  border: 4px solid #546e7a;
  z-index: 50;
  padding-left: 10px;
}
.stocksNavHidden {
  position: fixed;
  width: 133px;
  left: -200px;
  top: 68px;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 0;

}
.stats {
    height: 3vw;
    border-top: 4px solid #ff3d00;
    border-bottom: 4px solid #ff3d00;
    width: calc(100% - 233px);
    float: right;
}
stats.ng-binding {
    padding-right: 30px;
}
.statsEmpty {
    height: 3vw;
    border-top: 4px solid #ff3d00;
    border-bottom: 4px solid #ff3d00;
    width: calc(100% - 100px);
    float: right;
}
.graphics {
    height: 20vw;
    width: 100%;
}
h1 {
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    font-weight: 700;
    font-size: 7.375rem;
    line-height: .9;
    border-left: 4px solid #ff3d00;
    padding: 15px;
}
h2 {
    float: left;
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    border: 4px solid #ff3d00;
    padding: 20px;
}
h3 {
    color: #546e7a;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.025em;
    font-weight: 500;
    font-size: 4.375rem;
    line-height: .9;
    border-right: 4px solid #ff3d00;
    padding: 15px;
}
h6 {
    float: right;
}
.top {
    height: 4vw;
}
.parallax-container {
    height: 500px;
}
.textLeft {
    padding: 20px;
}
.myStocks {
    border: 4px solid #546e7a;
    border-left: 4px solid #ff3d00;
}
header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
  div.stocksNav.col.s1 a.ng-binding {
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: red;
   font-size: 20px;
   z-index: 200;
  }

  h1.totalValueNumber.ng-binding {
    border-left: white;
  }
  .totalValueText {
    font-size: 35px;
  }
  .stockValue {
    top: 450px;
  }
  #stockLeft {
    float: right;
  }
  h5 {
  text-align: center;
  }

