<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'app/dashboard/partials/dash.html'"></div>



<div class="stocksNav col s1" ng-show="ctrl.vis" ng-animate="{show: 'menu-show', hide: 'menu-hide'}">
  <div class="myStockList" ng-repeat="stocksInPortfolio in ctrl.myPortfolio.stocksInPortfolio">
      <ul>
        <li style="position: relative"><a href ng-click="ctrl.tab = stocksInPortfolio">{{stocksInPortfolio.stock.name | limitTo:10}}</a></li>
      </ul>
    <div class="myStockView" ng-show="ctrl.tab === stocksInPortfolio">
      <div class="{ active:ctrl.tab === stocksInPortfolio }">
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">

<div class="col s2 offset-s6">
  <h1>hola</h1>
  <a href="#" ng-click="ctrl.vis = !ctrl.vis">Toggle</a><br/>
    {{vis}}
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</div>

</div> -->

<script>

</script>






<!-- <div ng-include="'/app/dashboard/partials/subScript.html'"></div>
<div ng-include="'/app/dashboard/partials/portfolio.html'"></div>
<button ng-click="ctrl.getStockInventory()">Get Stock Inventory</button>
<div ng-include="'/app/dashboard/partials/twitsent.html'"></div>
<div ng-include="'/app/dashboard/partials/twitsearch.html'"></div>
  {{ctrl.twitAnaylsisData.tokens}}

 -->

<!-- <div ng-include="'/app/dashboard/partials/stockinventory.html'"></div>
 -->

<!-- <div ng-include="'app/dashboard/partials/subScript.html'"></div>
<div ng-include="'app/dashboard/partials/portfolio.html'"></div>
<div ng-include="'app/dashboard/partials/stockinventory.html'"></div>
<div ng-include="'app/dashboard/partials/twitsent.html'"></div>
<div ng-include="'app/dashboard/partials/twitsearch.html'"></div> -->

