
  <div class="row gridRow">
    <div class="col s1"></div>
    <div id="financeGraph" class="col s6">
      <div class="graph-header"></div>
      <div class="graph-body"></div>
    </div>
    <div id="sentimentData" class="col s3 gridColTwo"></div>
  </div>
<h3>My Stocks</h3>
<table class="hoverable responsive-table centered">

<!-- <th><th>
<th>Shares Owned<th>
<th>Current Price<th> -->
 <thead>
  <tr>
      <th data-field="id">Company</th>
      <th data-field="name">Shares Owned</th>
      <th data-field="price">Current Price</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="stock in ctrl.myPortfolio.stocksInPortfolio">
    <td>{{ stock.stock.name }}</td>
    <td>{{stock.qty}}</td>
    <td>{{ stock.stock.lastTradePriceOnly | currency}}</td>
  </tr>
</tbody>
</table>


<script>
  'use strict';
$(document).ready(function(){
  $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });


  var currentDate = new Date()
  var day = currentDate.getDate()
  var month = currentDate.getMonth() + 1
  var year = currentDate.getFullYear()
  var date = document.getElementById("textLeft");
  date.innerHTML = "<b>" + day + "/" + month + "/" + year + "</b>";
  console.log("funky")









});

</script>
<!-- <div ng-include="'/app/dashboard/partials/dashWelcome.html'"></div> -->
<!-- partial reference -->
