  <div class="row gridRow">
    <div class="col s2 offset-s2 gridColOne">
      <h5>{{ctrl.tab.stock.name}}</h5>
    </div>
    <div class="col s2 gridColOne">
      <h5>{{ctrl.tab.stock.symbol || 'N/A'}} | {{ctrl.tab.stock.twitterHandle || 'N/A'}}</h5>
    </div>
    <div class="col s2 gridColOne">
      <p>peRatio: {{ctrl.tab.stock.peRatio || 'N/A'}} <br> Dividend Yield: {{ctrl.tab.stock.dividendYield || 'N/A'}} <br> Current Value: {{ctrl.tab.stock.lastTradePriceOnly || 'N/A'}}</p>
    </div>
    <div class="col s2 gridColOne">
      <h5>This Stock's total value is {{ctrl.tab.stock.lastTradePriceOnly * ctrl.tab.qty | currency}}</h5>
    </div>
  </div>
  <div class="row gridRow">
    <div class="col s1"></div>
    <div id="financeGraph" class="col s6">
      <div class="graph-header"></div>
      <div class="graph-body"></div>
    </div>
    <div id="sentimentData" class="col s3 gridColTwo"></div>
  </div>
<script>
  'use strict';
$(document).ready(function(){
  $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

  var currentDate = new Date()
  var day = currentDate.getDate()
  var month = currentDate.getMonth() + 1
  var year = currentDate.getFullYear()
  var date = document.getElementById("textLeft");
  date.innerHTML = "<b>" + day + "/" + month + "/" + year + "</b>";
  console.log("funky")
});
</script>
<!-- <div ng-include="'/app/dashboard/partials/dashWelcome.html'"></div> -->
<!-- partial reference -->
