<!-- <div class="row gridRow">
    <div class="col s2 offset-s2 gridColOne">
      <h5>{{ctrl.tab.stock.name}}</h5>
    </div>
    <div class="col s2 gridColOne">
      <h5>{{ctrl.tab.stock.symbol || 'N/A'}} | {{ctrl.tab.stock.twitterHandle || 'N/A'}}</h5>
    </div>
    <div class="col s2 gridColOne">
      <p>peRatio: {{ctrl.tab.stock.peRatio || 'N/A'}} <br> Dividend Yield: {{ctrl.tab.stock.dividendYield || 'N/A'}} <br> Current Value: {{ctrl.tab.stock.lastTradePriceOnly || 'N/A'}}</p>
    </div>
    <div class="col s2 gridColOne">
      <h5>This Stock's total value is {{ctrl.tab.stock.lastTradePriceOnly * ctrl.tab.qty | currency}}</h5>
    </div>

  </div>
  <div class="row gridRow">
    <div class="col s1"></div>
    <div id="financeGraph" class="col s6">
      <div class="graph-header"></div>
      <div class="graph-body"></div>
    </div>
    <div id="sentimentData" class="col s3 gridColTwo" ng-click="ctrl.twitSentQuery(ctrl.tab.stock.twitterHandle)">
      <h3>Twitter Sentiment Score:
        <p ng-show"ctl.tab.stock.twitterHandle === ctrl.myPortfolio.stocksInPortfolio.stock.twitterHandle">{{ctrl.twitAnalysisWithReset[0].score}}</p>
      </h3>
      <div id="sentimentDataTwo" class="col s3 gridColTwo">
        <h5 class="tweets" ng-repeat="positive in ctrl.twitAnalysis.positive track by $index">
          {{positive}}
        </h5>
      </div>
    </div>
    </div>


 -->
