<div class="row">
  <div class="row">
    <!-- for spacing -->
  </div>
  <div class="col s3 offset-s2">
    <h3 id="textLeft"></h3>
    <h4 id="stockLeft">{{ctrl.tab.stock.name}}</h4>
  </div>
  <div class="col s3">
    <h5>{{ctrl.total | currency}}</h5>
    <h1 class="totalValueText">
      Total Stock Value: <br>
    </h1>
  </div>
  <div class="stockValue col s3 ">
    <h1 class="totalValueNumber">
      {{ctrl.tab.stock.lastTradePriceOnly * ctrl.tab.qty | currency}}
    </h1>
  </div>

  </div>
  <div class="stats">
    <h5>{{ctrl.tab.stock.symbol || 'N/A'}} | {{ctrl.tab.stock.twitterHandle || 'N/A'}} | peRatio: {{ctrl.tab.stock.peRatio || 'N/A'}} | Dividend Yield: {{ctrl.tab.stock.dividendYield || 'N/A'}} | Current Value: {{ctrl.tab.stock.lastTradePriceOnly || 'N/A'}} | Quantity: {{ctrl.tab.qty}}</h5>
  </div>
</div>
<script>
  'use strict';
$(document).ready(function(){
  $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  var currentDate = new Date()
  var day = currentDate.getDate()
  var month = currentDate.getMonth() + 1
  var year = currentDate.getFullYear()
  var date = document.getElementById("textLeft");
  date.innerHTML = "<b>" + day + "/" + month + "/" + year + "</b>";
  console.log("funky")
});
</script>
<!-- <div ng-include="'/app/dashboard/partials/show.html'"></div>
partial reference -->
