<main>
<div class="portfolio-total indigo z-depth-5 white-text">
  <p> </p><br>
  <h4 class="center-align">As of: {{ctrl.date | date:'yyyy-MM-dd'}}<br>Your Portfolio Value: {{ctrl.total | currency}}</h4>
  <p ng-show="ctrl.total ===0">Hello</p>
</div>

<hr>
<div class="container">
    <table class="hoverable responsive-table centered">
    <h4 class="center-align">Your Portfolio</h4>
    <!-- <th><th>
    <th>Shares Owned<th>
    <th>Current Price<th> -->
     <thead>
      <tr>
          <th data-field="id">Company</th>
          <th data-field="name">Shares Owned</th>
          <th data-field="price">Current Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in ctrl.myPortfolio.stocksInPortfolio" ng-click="ctrl.goStock(stock.stock)">
        <td>{{ stock.stock.name }}</td>
        <td>{{stock.qty}}</td>
        <td>{{ stock.stock.lastTradePriceOnly | currency}}</td>
      </tr>
    </tbody>
    </table>
</div>
</main>
