<main>
<div class="portfolio-total indigo z-depth-5 white-text">
  <p> </p><br>
  <h4 class="center-align">{{ctrl.userName}}'s Total Portofolio Value: {{(ctrl.myPortfolio.cash + ctrl.total) | currency}}</h4>
  <h5 class="center-align">As of: {{ctrl.date | date:'yyyy-MM-dd'}}<br>{{ctrl.userName}}'s Stock(s) Value: {{ctrl.total | currency}}</h5>
  <h5 class="center-align">{{ctrl.userName}}'s cash: {{ctrl.myPortfolio.cash | currency }}</h5>

  <p class="center-align "><a ng-show="ctrl.total ===0" class="red waves-effect waves-green btn" ng-href="/stockinventory">BUY STOCKS</a></p>
</div>

<hr>
<div class="container">
    <table class="hoverable responsive-table centered">
    <h4 class="center-align">Your Portfolio</h4>
     <thead>
      <tr>
          <th data-field="id">Company</th>
          <th data-field="name">Shares Owned</th>
          <th data-field="price">Current Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in ctrl.myPortfolio.stocksInPortfolio" ng-click="ctrl.goStock(stock.stock)" ng-hide="stock.qty === 0">
        <td>{{ stock.stock.name }}</td>
        <td>{{stock.qty}}</td>
        <td>{{ stock.stock.lastTradePriceOnly | currency}}</td>
      </tr>
    </tbody>
    </table>
</div>
</main>
