<div pageslide ps-open="ctrl.checked" class="white" id="slidepage" style="direction: rtl;
    overflow: scroll;">
                    <a ng-click="ctrl.toggle()" class="button">&#x2716;</a>
                    <div style="padding:20px">
                        <table class="bordered responsive-table">
                          <thead>
                            <tr>
                                <th data-field="name">Shares Owned</th>
                                <th data-field="id">Company</th>
                            </tr>
                          </thead>
                           <tbody>
                               <tr ng-repeat="stock in ctrl.myPortfolio.stocksInPortfolio" ng-hide="stock.qty === 0">
                                      <td>{{stock.qty}}</td>
                                      <td>{{stock.stock.name}}</td>
                              </tr>
                          </tbody>
                      </table>
                      Portfolio: {{ctrl.total | currency}}
                    </div>
                </div>
