
<div class="stocksNav col s1" ng-show="ctrl.vis" ng-animate="{show: 'menu-show', hide: 'menu-hide'}">
  <div class="myStockList" ng-repeat="stocksInPortfolio in ctrl.myPortfolio.stocksInPortfolio">
      <ul>
        <li style="position: relative"><a href ng-click="ctrl.tab = stocksInPortfolio">{{stocksInPortfolio.stock.name | limitTo:10}}</a></li>
      </ul>
    <div class="myStockView" ng-show="ctrl.tab === stocksInPortfolio">
      <div class="{ active:ctrl.tab === stocksInPortfolio }">
      </div>
    </div>
  </div>
</div>
<!-- <div ng-show="ctrl.tab === 0"><div ng-include="'/app/dashboard/partials/dashWelcome.html'"></div></div>
<div ng-show="ctrl.tab !== 0"><div ng-include="'/app/dashboard/partials/myIndividualStock.html'"></div></div>
 -->
 <!-- class="{ active:ctrl.tab === stocksInPortfolio.stock._id }"
