
This is ctrl.stockInventory - from DB
<!-- {{ctrl.stockInventory}} -->
  <div class="row">
        <div class="col s12 m6 lg4" ng-repeat="stock in ctrl.stockInventory">
           <ul class="collection" >
              <li class="collection-item">Stock:  {{stock}}</li>
                <li class="collection-item">Name:  {{stock.name}}</li>
                <li class="collection-item">Last Trade Price:  {{stock.lastTradePriceOnly}}</li>
                <li class="collection-item">Dividend Yield:  {{stock.dividendYield}}</li>
                <li class="collection-item">PeRatio:  {{stock.peRatio}}</li>
              </ul>
              <!-- Binding for stock qty, sends to portfolioservice.buyStock -->
          <input type="number" ng-model="stock.qty">
         <button class="btn btn-inverse btn-lg" ng-click="ctrl.buyStock(stock)">BUY</button>

        </div>
      </div>
