<script>
 'use strict';
$(document).ready(function(){
  $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
   // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
   $('.button-collapse').sideNav({
      menuWidth: 200, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
  // Show sideNav
  $('a.navbar-brand').click(function(){
    $('.button-collapse').sideNav('show');
  })
  //Hide sideNav
  // $('a.navbar-brand-slide').click(function(){
  //     $('.button-collapse').sideNav('hide');
  //   })
  // $('.button-collapse').sideNav('hide');
});
</script>
