<!-- THIS IS THE SEARCH FOR ANYTHING IN TWITTER -->
<div class="container"></div>
  <div class="row">
    <form class="col s12" ng-submit="ctrl.twitSentQuery(form)">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="validate" ng-model="ctrl.userInput">
          <label for="first_name">Analyze Tweets</label>
           <button class="btn btn-inverse btn-lg btn-login" type="submit">
           Search
          </button>
        </div>
      </div>
    </form>
  </div>
