.tangcloud {
    height: 15em;
    width: 15em;
    position: relative;
    left: 3em;
}
.tangcloud span {
    line-height: 100%;
}

.tangcloud-item-1 {
    font-size: 1.3em;
    color: red;
}

.tangcloud-item-2 {
    font-size: 1.6em;
    color: black;
}

.tangcloud-item-3 {
    font-size: 1.9em;
    color: grey;
}

.tangcloud-item-4 {
    font-size: 2.2em;
    color: red;
}

.tangcloud-item-5 {
    font-size: 2.5em;
    color: blue;
}

.tangcloud-item-6 {
    font-size: 2.8em;
    color: grey;
}

.tangcloud-item-7 {
    font-size: 3.1em;
    color: red;
}

.tangcloud-item-8 {
    font-size: 3.4em;
    color: black;
}

.tangcloud-item-9 {
    font-size: 3.7em;
    color: grey;
}

.tangcloud-item-10 {
    font-size: 4em;
    color: red;
}

.tangcloud-item-hidden {
    visibility: hidden;
}
#shownav {
    z-index: 99;
}


#slidepage {
    direction: rtl;
    overflow: scroll;
}

.ng-pageslide {
    direction: rtl;
    overflow: scroll;
}

#portfolio-button {
    z-index: 100000;
    top: -0.5em;
    right: 19em;
}

#cloudster {
    height: 40em;
    width: 70;
}
tang-cloud{
    height: 50px;
    width: 50px;
}
.stock-show {
    height: 8em;
}
.cashHeader {
    text-align: left;
}
.chartHolder {
    height: 30em;
    background: white;
    border: 3px solid #ff3d00;
}
.valueOverChart {
    width: 5em;
    float: right;
    color: black;
}
.sentimentOverChart {
    width: 5em;
    color: black;
    float: right;
}
.card {
    text-align: center;
}
.cashCard {
    height:10em;
}
.cashButton {
    position: relative;
    bottom: 9.5em;
}
.t-score {
   color: #ff3d00;
}
.values {
    padding-top: 3em;
}
.twitterScoreOnIcon {
    width: 2em;
    height: 2em;
    position:relative;
    bottom: 5em;
}
.tweets {
    position: relative;
    z-index: 0;
    bottom: 30em;
}

.chartD3 {
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    float: left;
}
.asterix {
    font-size: 2em;
}
.topRow {
    height: 42em;
    margin-top: -6%;
}
.chartPlaceholder {
    height: 30em;
    padding: 10% 25% 10% 25%;
}
.twitterHolder {
    height: 31.85em;
    padding: 30%;
}
.cardShowPage {
    height: 31.925em;
}
@media only screen and (min-width: 993px) {
.row .col.l3 {
    width: 23%;
    margin-left: 1%;
    }
}
.rowTwo {
    margin-top: -5%;
}
.cloudSpot {
    padding-top: 5em;
}
.cloudCaption {
    position: relative;
}
.cardShowPage {
    overflow-x: visible;
}
.nv-chart-61008 {
    overflow: visible;
}

