.tangcloud {
    height: 500px;
    width: 500px;
}

.tangcloud span {
    line-height: 100%;
}

.tangcloud-item-1 {
    font-size: 1.3em;
    color: #080808;
}

.tangcloud-item-2 {
    font-size: 1.6em;
    color: #101010;
}

.tangcloud-item-3 {
    font-size: 1.9em;
    color: #181818;
}

.tangcloud-item-4 {
    font-size: 2.2em;
    color: #303030;
}

.tangcloud-item-5 {
    font-size: 2.5em;
    color: #282828;
}

.tangcloud-item-6 {
    font-size: 2.8em;
    color: #202020;
}

.tangcloud-item-7 {
    font-size: 3.1em;
    color: #383838;
}

.tangcloud-item-8 {
    font-size: 3.4em;
    color: #404040;
}

.tangcloud-item-9 {
    font-size: 3.7em;
    color: #484848;
}

.tangcloud-item-10 {
    font-size: 4em;
    color: #000000;
}

.tangcloud-item-hidden {
    visibility: hidden;
}
#shownav {
    z-index: 99;
}
.stock-show {
    padding: 100em;
}

#slidepage {
    direction: rtl;
    overflow: scroll;
}

.ng-pageslide {
    direction: rtl;
    overflow: scroll;
}

#portfolio-button {
    z-index: 100000;
    top: -0.5em;
    right: 19em;
}

#cloudster {
    height: 40em;
    width: 70;
}
tang-cloud{
    height: 50px;
    width: 50px;
}
.stock-show {
    height: 8em;
}
.cashHeader {
    text-align: left;
}
.chartHolder {
    height: 30em;
    background: white;
    border: 3px dotted #ff3d00;
}
.valueOverChart {
    width: 5em;
    float: right;
    color: black;
}
.sentimentOverChart {
    width: 5em;
    color: black;
    float: right;
}
.card {
    text-align: center;
}
.cashCard {
    height:10em;
}
.cashButton {
    position: relative;
    bottom: 8em;
}
.t-score {
   color: #ff3d00;
}
.values {
    padding-top: 3em;
    float: right;
}
.twitterScoreOnIcon {
    width: 2em;
    height: 2em;
    position:relative;
    bottom: 5em;
}
.tweets {
    position: relative;
    z-index: 0;
    bottom: 30em;
}
.wordsParty {
    postion:relative;
    z-index: 0;
    overflow: hidden;
    overflow-y: scroll;
    bottom: 30em;
}
.partyWrapper {
    postion:relative;
    z-index: 0;
     bottom: 30em;
     height: 30em;
     overflow: hidden;
    overflow-y: scroll;
}

